body {
    margin: 0;
    background-image: url(Images/backround.png);
    background-size: auto 150vh;
    resize: vertical;
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Mitr', sans-serif;
    font-style: normal;
    color: goldenrod;
}
.TextBoxMain {
    font-family: "Mitr", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    color: rgb(12, 12, 11);
    outline-style: solid;
    outline-width: 6px;
    background-color: ghostwhite;
    padding:1%;
    margin: 10%;
    margin-bottom: 0;
    margin-top: 0;;
}
.TextBoxMain a:link{
    color:blue;
    text-decoration: underline;
}
.TextBoxMain a:visited{
    color:purple;
    text-decoration: underline;
}

.topbuttons{
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
}
.topbuttons a:link, a:visited{
    color: white;
    text-decoration: none;
}
.topbuttons a:hover {
    color: gold;
    text-decoration: none;
}
.topbuttons a:active {
    color: gold;
    text-decoration: none;
}

.TextBoxH1 {
    font-family: 'Mitr', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    color: rgb(12, 12, 11);
    outline-style: solid;
    background-color: goldenrod;
}
.TextBoxH2 {
    font-family: 'Mitr', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: rgb(12, 12, 11);
    outline-style: solid;
    background-color: goldenrod;
    margin:6%;
    margin-top: 0%;
}
.TextBoxH3 {
    font-family: 'Mitr', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: rgb(12, 12, 11);
    outline-style: solid;
    background-color: ghostwhite;
    margin:6%;
    margin-top: 0%;
}

.CharTabButton{
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    font-size: 30px;
    margin-left: 2vw;
    max-width: 110px;
    line-height: 0%;
    padding: 10px;
    outline: solid;
    color:black;
    outline-color: black;
    outline-width: 6px;
    margin-top: 6px;
    left: 0px;
    background-color: gray;
}
.CharTabButton a:link, a:visited {
    color:white;
    text-decoration: none;
}
.CharTabButton a:hover{
    color: gold;
    text-decoration: none;
}
.CharTabButton a:active{
    color: gold;
    text-decoration: none;
}
.CharacterGallery {
    display: grid;
    grid-template-columns: repeat(6, 3fr);
    grid-gap: 1vh;
    object-fit: cover;
    font-family: "Concert One", sans-serif;
    margin-left:1px;
    margin-top: 6px;
    padding: 1%;
    outline: solid;
    outline-color: black;
    outline-width: 6px;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    background-color: white;
    min-width: 80vw;
    max-width: 80vw;
}
.CharacterImg {
text-align: center;
max-width: 100%;
font-size: 20px;
color: black;
line-height: 0;
}

.CharacterImg img {
 max-width: 100%;
 height: auto;
 border: solid;
 border-width: 4px;
 border-color: gray;
 margin-left:0;
 margin-top: 6px;
 display: flex;
}

.displayflex{
    display: flex;
}