body {
    margin: 0;
    background-image: url(Images/backround.png);
    background-size: auto 150vh;
    resize: vertical;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: goldenrod;
}
.TextBox {
    color: rgb(12, 12, 11);
    outline-style: solid;
    background-color: goldenrod;
}